@model IEnumerable<Computador.ViewModel.MaquinaVieWModel>

@{
    ViewData["Title"] = "Delete";
}

<h2>Deletar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Maquina</h4>
    <hr />

    @foreach (var item in Model)
    {
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(modelItem => item.Id)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelItem => item.Chave)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Chave)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelItem => item.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelItem => item.SetorNome)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.SetorNome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="@item.Id" />
        <input type="submit" value="Deletar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para Lista</a>
    </form>
    }
</div>
