@model Computador.Models.Maquina

@{
    ViewData["Title"] = "Detales";
}

<h2>Detales</h2>

<div>
    <h4>Maquina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chave)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Setor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Setor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
