@model IEnumerable<Computador.ViewModel.MaquinaVieWModel>


@{
    ViewData["Title"] = "Detales";
}

<h2>Detales</h2>

@foreach (var item in Model)
{
    <div>
        <h4>Maquina</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(modelItem => item.Id)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.Chave)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Chave)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.Marca)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Marca)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.SetorNome)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.SetorNome)
            </dd>
        </dl>

    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
        <a asp-action="Index">Voltar para Lista</a> | <a asp-action="Delete" asp-route-id="@item.Id">Editar</a>
    </div>
}
